extends ../layouts/masterLayout
block content
	include ../includes/fallback-message
	#impress
		#bored(class="step slide",data-x="-1000",data-y="0",data-z="0")
			p
				q|Proyecto Logistic System
				br
				b|On China Brief
				br
				i|By Gonzales Gustavo
			img(src="/imgs/aed2/china_brief_logo.jpg",style="margin:5rem 1rem")
		.step(class="slide",data-x="0",data-y="0",data-z="100")
			//q|Containers
			.caja(style="width:10rem,margin:0 0 0 3rem")
				img(src="/imgs/aed2/container_avion.jpg",style="width:90%")
				img(src="/imgs/aed2/container_barco.jpg",style="width:90%;")
		.step(class="slide",data-x="1000",data-y="0",data-y="1000")
			q|Servicio
			img(src="/imgs/aed2/grafico_estibadores.jpg",style="width:90%")
			p
		.step(class="slide",data-x="1000",data-y="150",data-z="1100")
			q|Cargas
			img(src="/imgs/aed2/grua_container.jpg",style="width:100%;")
		.step(class="slide",data-x="1000",data-y="150",data-z="1200")
			q|Despachadores
			img(src="/imgs/aed2/despachador1.jpg",alt="",style="float:left")
			img(src="/imgs/aed2/despachador2.jpg",alt="",style="float:right")
		.step(id="title",data-x="0",data-y="0",data-scale="1")
			q|Proceso
			img(src="/imgs/aed2/Logistic_System.png",alt="",style="zoom:0.7;margin:0 0 0 -2rem;")
			p
		.step(id="imagination",data-x="2800",data-y="300",data-z="0",data-scale="1")
			p|Diseño
			img(src="/imgs/aed2/diagrama_paquetes.png",alt="diagrama_paquetes",style="zoom:1.2;margin:0 -7rem")
		.step(data-x="2800",data-y="0",data-z="-300",data-scale="1")
				img(src="/imgs/aed2/diagrama_clases.png", alt="diagrama_clases")
		.step(data-x="3000",data-y="-500",data-z="-600",data-scale="1")
				img(src="/imgs/aed2/diagrama_vectores.png",alt="diagrama_vectores", style="zoom:1;")
			p
		.step( data-x="4000", data-y="600", data-z="700")
			video(width="1000", heigth="680", controls, preload, autoplay, loop)
				source(src="/videos/video_ls.mp4", type="video/mp4")
		//.caja	
			.step(data-x="5000", data-y="800", data-z="800", data-scale="1")
				p
					img(src="/imgs/admin/foda.png",alt="foda",style="zoom:1.1;")
			.step(class="slide",data-x="6000",data-y="1000",data-z="200")
				q|2do
			.step(class="slide",data-x="6600",data-y="1200",data-y="300")
				q|3ero
				p
			.step(class="slide",data-x="7000",data-y="1400",data-z="400")
				q|4to
					img(src="",alt="")
			.step(class="slide",data-x="7500",data-y="1600",data-z="600")
				p|5to
		.step(id="its-in-3d", data-x="7550", data-y="1650", data-z="800", data-rotate-x="-40", data-rotate-y="80", data-scale="2")
			span.scaling(style="font-size:5rem;")|Gracias !!
		.step(data-x="3000", data-y="1500",data-z="5000", data-scale="7",data-rotate-z="270")	
			sapn.end|fin
block import_sub1